@font-face {
  font-family: BizflyLato;
  src: url("~@/assets/fonts/lato-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: BizflyLato;
  src: url("~@/assets/fonts/lato-italic.woff2");
  font-style: italic;
}
@font-face {
  font-family: BizflyLato;
  src: url("~@/assets/fonts/lato-italic-black.woff2");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: BizflyLato;
  src: url("~@/assets/fonts/lato-bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: BizflyLato;
  src: url("~@/assets/fonts/lato-black.woff2");
  font-weight: 800;
}